<header>
    <nav>
        <h3><a href="/" target="_self">Mybrary</a></h3>
        <ul >
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">add authors</a></li>
        </ul>
    </nav>
</header>